---
layout: home
title: Web design and development using the latest internet technologies.
---
<div class="fp-blog-section py-gap">
    <!-- Title Page -->
    <div id="blog" class="row">
      <div class="col-12">
        <div class="title-page">
          <h2 class="title">My Blog</h2>
        </div>
      </div>
    </div>
    <!-- End Title  -->

    <div class="row g-4 mx-4"> <!-- Added gutter spacing with g-4 -->
      {% for post in site.posts %}
        {% if post.content contains "<!-- more -->" %}
          <div class="col-12 col-md-6 my-4 col-lg-4"> <!-- Responsive columns -->
            <div class="widget-bottom line-fx h-100"> <!-- Added h-100 for equal height -->
              <a href="{{ post.url }}" class="blog-link">
                <div class="bg-fx">
                    <h4>{{ post.title }}</h4>
                    {{ post.content | split:"<!-- more -->" | first }}
                </div>
              </a>
            </div>
          </div>
        {% else %}
          <div class="col-12 col-md-6 my-4 col-lg-4"> <!-- Responsive columns -->
            <div class="widget-bottom h-100"> <!-- Added h-100 for equal height -->
              <div class="bg-fx">
                <div class="inner">
                  <h4>{{ post.title }}</h4>
                  {{ post.content | strip_html | truncatewords:200 }}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
  </div>
</div><!-- End Blog Section --> 